
.clearfix::after,.clearfix::before {
    content: ' ';
    display: table;
}
.clearfix::after {clear: both;}

body {
    font-family: 'Open Sans', sans-serif;
    color: $primary;
    font-size: 1.6rem;
    line-height: 1.6;
    height: 100%;
}

h1,h2,h3,h4 {font-family: 'Raleway', san-serif;}
h1 { text-align:center;margin-top:3rem;margin-bottom:3rem;}
h2 { color: $secondary; border-bottom:1px solid $secondary;font-size:2.2rem;}
h3 { color: $tertiary; font-size:1.8rem;}
a {text-decoration: none; color:$alt;}
ul {list-style: none;}
blockquote  {
  font-size: 2.4rem;
  padding-left: 1.5rem;
  border-left: 6px solid $tertiary;
}

.wrap {
    position: relative;
    height: 100%;
    min-height: 600px;
}

.section-padding {
    padding: 2.5rem;
}

.fl {float: left;}
.fr {float: right;}

.profile {
    background-color: $white;
}

.profile img {
    border-radius: 50%;
    border: 4px solid $darkgrey;
    margin: 2rem auto;
    width: 121px;
    display:block;
}


.contact-wrap { min-height:3rem;}
.contact-wrap ul {width:100%;margin:0;padding:0;}
.contact-wrap li {display:inline-block; width:23%; text-align:center;margin:0;padding:0;}
.contact-wrap i::before {
    background-color: $primary;
    border-radius:50%;
    padding: 1.2rem 1.5rem;
    color:$white;
    border:2px solid #ddd;
}
.contact-wrap li:hover i::before {
    background-color: $alt;
}
.contact-presentation {
    text-align:left;
    font-weight:300;
    margin-top:4rem;
    margin-bottom:4rem;
}

.experience { 
    background-color:$darkgrey; 
}
.experience a {color:$tertiary;}
.experience a:hover {color:$secondary;}
.experience .time {font-size:1.2rem;color:$tertiary;}
.experience .title { color:$white;}
.company-wrap{
    margin-bottom:2rem;

}
.job-wrap {
    margin-bottom:2rem;
}

.skills {
    background-color:$darkgrey;
    padding-left:0;
    font-size:1.2rem;
}

.skills li { color:$white;}

@media (max-width: 200px)  {  
    .profile {width:100%;}
    .experience {width:100%;}
}
@media (min-width: 960px)  {  
    .profile {width:35%;}
    .experience {width:63%;}
}
@media (min-width:1024px)  {  
    .skills li {width:85%;}
    .company-wrap {width:85%;}
}

.tags{
	margin:0;
	padding:0;
	position:relative;
	list-style:none;
}
.tags li, .tags span{
	float:left;
	height:2.3rem;
	line-height:2.12rem;
	position:relative;
	font-size:.75rem;
    margin-bottom:.75rem;
}
.tags span{
	margin-left:20px;
	padding:2px 10px 0 12px;
	background-color:$primary;
	color:$white;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;
    letter-spacing:1px;	
} 
.tags span:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent $primary transparent transparent;
	border-style:solid;
	border-width:11px 12px 12px 0;		
	}
.tags span:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px $primary;
	-webkit-box-shadow:-1px -1px 2px $primary;
	box-shadow:-1px -1px 2px $primary;
}

.skill-percentage {
    margin-bottom:10px;
    position:relative;
}

.skill-percentage::after {
      content:"";
      width:100%;
      height:6px;
      background:$alt;
      display:block;
      margin-top:3px;
}
.skill-percentage::before{
      content:"";
      height:6px;
      background:$tertiary;
      position:absolute;
      margin-top:3px;
      bottom:0;
}
.skill-line {display:none;}

.skill-percentage:nth-child(1)::before {width:95%;animation: to95 $time ease;}
.skill-percentage:nth-child(2)::before {width:85%;animation: to85 $time ease;} 
.skill-percentage:nth-child(3)::before {width:90%;animation: to90 $time ease;}
.skill-percentage:nth-child(4)::before {width:95%;animation: to95 $time ease;}
.skill-percentage:nth-child(5)::before {width:80%;animation: to80 $time ease;}
.skill-percentage:nth-child(6)::before {width:85%;animation: to85 $time ease;}
.skill-percentage:nth-child(7)::before {width:70%;animation: to70 $time ease;}
.skill-percentage:nth-child(8)::before {width:70%;animation: to70 $time ease;}
.skill-percentage:nth-child(9)::before {width:60%;animation: to60 $time ease;}
.skill-percentage:nth-child(10)::before {width:90%;animation: to90 $time ease;}
.skill-percentage:nth-child(11)::before {width:85%;animation: to85 $time ease;}

 


/* if its less than 50, prbly shouldn't show it :) */
@keyframes to95 {from {width:0%;}to {width:95%;}}
@keyframes to90 {from {width:0%;}to {width:90%;}}
@keyframes to85 {from {width:0%;}to {width:85%;}}
@keyframes to80 {from {width:0%;}to {width:80%;}}
@keyframes to75 {from {width:0%;}to {width:75%;}}
@keyframes to70 {from {width:0%;}to {width:70%;}}
@keyframes to65 {from {width:0%;}to {width:65%;}}  
@keyframes to60 {from {width:0%;}to {width:60%;}}  
@keyframes to55 {from {width:0%;}to {width:550%;}}  
@keyframes to50 {from {width:0%;}to {width:50%;}}  




.avatar {
  height: 100px;
  position: relative;
  width: 100px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.avatar img {
  border-radius: 9999px;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

@keyframes cycle-colors {
  0% { border-color: hsl(0, 100%, 50%); }
  25% { border-color: hsl(90, 100%, 50%); }
  50% { border-color: hsl(180, 100%, 50%); }
  75% { border-color: hsl(270, 100%, 50%); }
  100% { border-color: hsl(360, 100%, 50%); }
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.avatar::before,
.avatar::after {
  animation: pulse 2s linear infinite;
  border: $black solid 8px;
  border-radius: 9999px;
  box-sizing: border-box;
  content: ' ';
  height: 140%;
  left: -20%;
  opacity: .6;
  position: absolute;
  top: -20%;
  transform: scale(0.714);
  width: 140%;
  z-index: 1;
}

.avatar::after {
  animation-delay: 1s;
}

.avatar:hover::before,
.avatar:hover::after {
  animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
}

.avatar:hover::after {
  animation-delay: .5s;
}

.footer {
    background-color:$white;
    height:5rem;
    min-height:5rem;
}

.print {display:none;}